.navbar {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.5rem;
}

.navbar-link {
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: dodgerblue;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: royalblue;
  color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  color: dodgerblue;
}

.logo:hover {
  /* o rgba per opacità mantenendo colore di sfondo */
  background-color: royalblue;
  color: white;
}

.logo-img {
  height: 2.5rem;
}

.logo-text {
  font-size: 1.5rem;
}
