* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  background-color: yellow;
  position: sticky;
  top: 0;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.2rem 0.5rem;
  max-width: 80rem;
  margin: 0 auto;
}

.navbar-link {
  display: flex;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: dodgerblue;
  text-decoration: none;
  align-items: center;
}

.navbar-link:hover {
  background-color: royalblue;
  color: white;
}

.navbar-dx {
  display: flex;
  align-items: stretch;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  color: dodgerblue;
  margin: 0;
}

.logo:hover {
  /* o rgba per opacità mantenendo colore di sfondo */
  background-color: royalblue;
  color: white;
}

.logo-img {
  height: 2.5rem;
}

.logo-text {
  font-size: 1.5rem;
}

.hero {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;

  max-width: 1280px;
  margin: 0 auto;
}

.hero-content {
}

.hero-image {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  /* border-radius: 30rem; */
}
